/* font/definition */
@font-face {
    font-family: 'ralewayblack';
    src: url('font/webfontkit-20210923-035015/raleway-black-webfont.woff2') format('woff2'),
         url('font/webfontkit-20210923-035015/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('font/webfontkit-20210923-035015/raleway-light-webfont.woff2') format('woff2'),
         url('font/webfontkit-20210923-035015/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('font/webfontkit-20210923-035015/raleway-medium-webfont.woff2') format('woff2'),
         url('font/webfontkit-20210923-035015/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	margin: 0;
}
h2, h3
{
	font-family: 'ralewaymedium', Arial, sans-serif;
}
#afficher
{
	font-family: 'ralewayblack', Arial, sans-serif;
}
/* font/definition */
/* Mep body */
body
{
	font-family: 'ralewaymedium', 'ralewayblack', Arial, sans-serif;
}
/* Mep body */
/* Mep header */
header
{
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.entete
{
	display: flex;
	flex-wrap: wrap-reverse;
}
.Ancres a
{
	padding: 30px 20px;
	display: block;
	border-top: 2px solid white;
	color: black;
	text-decoration: none;
}
#inscr
{
	padding: 30px 20px;
}
.bleu
{
	color: #0065FC;
	font-weight: bold;
}
#inscr a
{
	text-decoration: none;
}
.Ancres a:hover
{
	border-top: 2px solid #0065FC;
}
/* Mep header */
	/* Mep bandeau */
#bandeau
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
	padding: 0px 20px 0px 20px;
}

		/* bandeau*/

.txt, .txt1
{
	font-size : 15px;
}
#info
{
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.txt1
{
	margin-left: 10px;
}
#info i
{
	width: 25px;
	height: 25px;
	color: #0065FC;
	border: 1px solid #F2F2F2;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
			/* recherche */
#recherche
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.mark
{
	width: 50px;
	height: 50px;
	color: black;
	background-color: #F2F2F2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px 0px 0px 15px;
}
input
{
	height: 50px;
	border: 1px solid #F2F2F2;
	font-size: 18px;
	font-weight: bold;
}
#rech1
{
	width: 115px;
	height: 50px;
	font-size: 18px;
	color: white;
	background-color: #0065FC;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 15px 15px 0px;
	border: none;
}
#rech2
{
	display: none;
}

			/* recherche */
			/* filtres */
#filtre
{
	display: flex;
	align-items: center;
	height: auto;
	
}
#filtre ul
{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
ul a
{
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
}
ul li
{
	display: flex;
	
}
.filt1, .filt3
{
	width: 165px;
	height: 50px;
	border: 3px solid #F2F2F2;
	border-radius: 25px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
}
.filt2
{
	width: 125px;
	height: 50px;
	border: 3px solid #F2F2F2;
	border-radius: 25px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
}
.filt1:hover, .filt2:hover, .filt3:hover
{
	background-color: #DEEBFF;
}
#pet
{
	width: 205px;
	height: 50px;
	border: 3px solid #F2F2F2;
	border-radius: 25px;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 5px;
	margin: 5px;
}
#pet:hover
{
	background-color: #DEEBFF;
	
}
#filtre i
{
	height: 53px;
	width: 53px;
	border-radius: 25px;
	color: #0065FC;
	background-color: #DEEBFF;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 53px;
}
			/* filtres */
		/* header bandeau*/
	/* Mep bandeau */
/* Mep hébergement */
#hebergement
{
	height: auto;
	display: flex;
	margin: 0px 20px 0px 20px;
}
/* Mep article */
article
{
	width: 70%;
	height: auto;
	margin-right: 3%;
	background-color: #F2F2F2;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 40px 20px 40px 20px;
}
article h2
{
	margin-top: 0px;
}
#afficher
{
	font-size: 15px;
	font-family: 'ralewaymedium', Arial, sans-serif;
	font-weight: bold;
}
#afficher a
{
	text-decoration: none;
	color: black;
}
#photo
{
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;

}
.Photo_1
{
	background-color: white;
	border: 2px solid white;
	border-radius: 10px 10px 10px 10px;
	width: 27.5%;
	height: auto;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 8px silver;
	margin-bottom: 20px;
	padding-bottom: 20px;
	min-width: 220px;
}
.Photo_1 a:hover h3
{
	color: #0065FC;
}
.Photo_1 img
{
	width: 100%;
	height: 125px;
	border-radius: 10px 10px 0px 0px;
}
.Photo_1 a
{
	text-decoration: none;
}
.Photo_1 h3
{
	font-size: 15px;
	color: black;
	margin: 0px 0px 0px 0px;
	padding-top: 1%;
}
.Photo_1 p
{
	margin-top: 0px;
	font-size: 15px;
	color: black;
	margin-bottom: 5px;
}
.gras
{
	font-family: 'ralewaymedium', Arial, sans-serif;
	font-weight: bold;
}
.dkltxt
{
	margin-left: 10px;
}
.Photo_1 i
{
	color: #0065FC;
	font-size: 15px;
}
.gris i
{
	color: #F2F2F2;
}
/* Mep article */
/* Mep populaire */
aside
{
	width: 30%;
	height: auto;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	padding: 40px 20px 40px 20px;
	min-width: 300px;
}
#titgraph
{
	display: flex;
	justify-content: space-between;
}
aside h2
{
	margin-top: 0px;
}
.graph
{
	margin-right: 25px;
}
.graph i
{
	font-size: 25px;
}
#pop
{
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Photo_2
{
	width: 100%;
	height: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	border: 2px solid white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 2px 2px 8px silver;
}
.Photo_2 a:hover h3
{
	color: #0065FC;
}
.Photo_2 a
{
	text-decoration: none;
}
.poptxt
{
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 5px;
}
.poptxt1
{
	height: auto;
	padding-top: 5%;
	padding-right: 5px;
}
.Photo_2 img
{
	float: left;
	border-radius: 10px 0px 0px 10px;
}
.Photo_2 h3
{
	color: black;
	font-size: 15px;
	margin: 0px;
	max-width: 140px;
}
.Photo_2 p
{
	color: black;
	font-size: 12px;
	margin: 0px;
}
.poptxt i
{
	color: #0065FC;
	font-size: 12px;
}
.gris1 i 
{
	color: #F2F2F2;
	font-size: 12px;
}
/* Mep populaire */
/* Mep hébergement */
/* Mep activitées */
#activites
{
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 20px 20px 20px 20px;
}
#activite
{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
#activite a
{
	text-decoration: none;
	color: black
}
#activite a:hover h3
{
	color: #0065FC;
}
#activite1
{
	width: 24%;
	height: auto;
	border-radius: 25px;
	box-shadow: 2px 2px 8px silver;
}
#activite1 h3
{
	margin: 5%;
	font-size: 15px;
}
#activite1 img
{
	height: 450px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
}
#activite4
{
	width: 24%;
	height: auto;
	border-radius: 25px;
	box-shadow: 2px 2px 8px silver;
}
#activite4 img
{
	height: 450px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
}
#activite4 h3
{
	margin: 5%;
	font-size: 15px;
}
.photo_double
{
	width: 24%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#activite2
{
	height: 290px;
	width: 100%;
	border-radius: 25px;
	box-shadow: 2px 2px 8px silver;
}
#activite3
{
	height: 190px;
	width: 100%;
	border-radius: 25px;
	box-shadow: 2px 2px 8px silver;
}
#activite2 h3
{
	margin: 5%;
	font-size: 15px;
}
#activite3 h3
{
	margin: 5%;
	font-size: 15px;
}
#activite2 img
{
	height: 240px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
}
#activite3 img
{
	height: 140px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
}
#activite5
{
	height: 240px;
	width: 100%;
	border-radius: 25px;
	box-shadow: 2px 2px 8px silver;
}
#activite5 img
{
	height: 190px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
}
#activite5 h3
{
	margin: 5%;
	font-size: 15px;
}
#activite6
{
	height: 240px;
	width: 100%;
	border-radius: 25px;
	box-shadow: 2px 2px 8px silver;
}
#activite6 img
{
	height: 190px;
	width: 100%;
	border-radius: 25px 25px 0px 0px;
}
#activite6 h3
{
	margin: 5%;
	font-size: 15px;
}
/* Mep activitées */
/* Mep footer */
footer
{
	margin: 0px 1px 0px 1px;
	background-color: #F2F2F2;
	padding: 30px 30px 30px 30px;
}
#foot
{
	display: flex;
}
.liens
{
	margin-right: 5%;
}
.liens a
{
	text-decoration: none;
	color: black;
}
.liens a:hover
{
	color: #0065FC;
}
.liens h3
{
	font-size: 18px;
}
.liens p
{
	font-size: 12px;
}
/* Mep footer */
/* Media queries */
@media all and (max-width: 961px) 
{
	header
	{
		margin: 0px 5px 0px 5px;
	}
	#logo
	{
		margin-right: 10%
	}
	#rech1
	{
		display: none;
	}
	#rech2 
	{
		width: 50px;
		height: 50px;
		color: white;
		background-color: #0065FC;
		font-size: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		right: 20px;
		border-radius: 15px 15px 15px 15px;
		border: none;
	}
	li
	{
		margin-top: 2%;
	}
}
@media all and (max-width: 640px)
{
    body
	{
		justify-content: center;
		align-items: center;
		padding: 0 20px;
	}
	header
	{
		height: auto;
		display: block;
		margin: 0;
		padding: 0;
		position: relative;
	}
	#logo
	{
		margin: 0;
		padding: 14px 0px;
	}
	#inscr
	{
		position: absolute;
		top: 0;
		right: 0;
	}
	.Ancres
	{
		width: 50%;
		text-align: center;
	}
	.Ancres a
	{
		border-top: none;
		border-bottom: 2px solid #F2F2F2;
		margin: 0px;
	}
	.Ancres a:hover
	{
		color: #0065FC;
		border-top: none;
		border-bottom: 2px solid #0065FC;
	}
	#bandeau
	{
		padding: 0px 20px;
		flex-direction: column;
	}
	#bandeau h1
	{
		font-size: 25px;
	}
	.txt
	{
		font-size: 18px;
		margin-top: 0px;
		margin-bottom: 30px;
	}
	#filtre
	{
		flex-direction: column;
		align-items: flex-start;
	}
	#filtre ul
	{
		padding: 0px 0px 0px 0px;
		margin: 0px;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start
	}
	#filtre li
	{
		margin-left: -50px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	#info
	{
		align-items: flex-start;
	}
	#info i 
	{
		position: relative;
		top: 13px;
	}
	.txt1
	{
		font-size: 18px;
		margin-bottom: 30px;
	}
	#hebergement
	{
		flex-direction: column-reverse;
		margin: 0px 0px 0px 0px;
	}
	article
	{
		background-color: white;
		border-radius: 0px;
		padding: 0 20px;
		margin: 0 -20px;
		width: 100%;
	}
	#photo
	{
		flex-direction: column;
	}
	.Photo_1
	{
		background-color: white;
		width: 100%;
		flex-direction: column;
	}
	aside
	{
		width: 100%;
		border-radius: 0px;
		padding: 0 20px;
		margin: 0 -20px;
	}
	#pop
	{
		width: 100%;
		padding: 0px 0px 0px 0px;
	}
	.Photo_2
	{
		width: 100%;
		margin-bottom: 20px;
	}
	.poptxt
	{
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-left: 5%;
	}
	.Photo_2 h3
	{
		max-width: none;
	}
	aside h1
	{
		margin: 2%;
	}
	.graph
	{
		margin: 2%;
	}
	#activites
	{
		padding: 0 20px;
		margin: 0 -20px;
		width: 100%;
	}
	#activite
	{
		width: 100%;
		flex-direction: column;
	}
	#activite1
	{
		width: 100%;
		margin-bottom: 20px;
	}
	#activite1 img
	{
		height: 175px;
	}
	#activite4
	{
		width: 100%;
		margin-bottom: 20px;
	}
	#activite4 img
	{
		height: 175px;
	}
	.photo_double
	{
		width: 100%;
	}
	#activite2
	{
		height: 240px;
		margin-bottom: 20px;
	}
	#activite3
	{
		height: 240px;
		margin-bottom: 20px;
	}
	#activite5
	{
		margin-bottom: 20px;
	}
	#activite6
	{
		margin-bottom: 20px;
	}
	#activite2 img
	{
		height: 175px;
	}
	#activite3 img
	{
		height: 175px;
	}
	#activite5 img
	{
		height: 175px;
	}
	#activite6 img
	{
		height: 175px;
	}
	footer 
	{
		margin: 20px -20px;
	}
	#foot
	{
		flex-direction: column;
	}
}
/* Media queries */