/* font/definition */
@font-face {
    font-family: 'ralewayblack';
    src: url('font/webfontkit-20210923-035015/raleway-black-webfont.woff2') format('woff2'),
         url('font/webfontkit-20210923-035015/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('font/webfontkit-20210923-035015/raleway-light-webfont.woff2') format('woff2'),
         url('font/webfontkit-20210923-035015/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaymedium';
    src: url('font/webfontkit-20210923-035015/raleway-medium-webfont.woff2') format('woff2'),
         url('font/webfontkit-20210923-035015/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3
{
	font-family: 'ralewayblack', Arial, sans-serif;
}
h1
{
	font-size: 20px;
}
h2
{
	font-size: 25px;
}
h3
{
	font-size: 12px;
}
p
{
	font-size: 10px;
}
#afficher
{
	font-family: 'ralewayblack', Arial, sans-serif;
}
/* font/definition */
/* Mep body */
body
{
	font-family: 'ralewaylight', 'ralewayblack', Arial, sans-serif;
	width: 1170px;
	margin: auto;
	display: flex;
	justify-content: ;
	flex-wrap: wrap;
}
/* Mep body */
/* Mep header */
header
{
	width: 1170px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
}
/* Mep header */
	/* Mep bandeau */
#bandeau
{
	display: flex;
	width: 1170px;
	flex-direction: column;
	justify-content: flex-start;
	height: 300px;
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
}
		/* header bandeau*/

#logo
{
	display: flex;
	margin-top: 50px;
	height: 50px;
}

#Ancres
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#Ancres a
{
	color: black;
	text-decoration: none;
	margin-right: 25px;
}

#Ancres a:hover
{
	color: #0065FC;
	text-decoration: overline;
	line-height: 100px;
}
.txt, .txt1
{
	font-size : 15px;
}
#info
{
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.txt1
{
	margin-left: 10px;
}
#info i
{
	width: 25px;
	height: 25px;
	color: #0065FC;
	border: 1px solid #F2F2F2;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
			/* recherche */
#recherche
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#recherche i
{
	width: 25px;
	height: 25px;
	color: black;
	background-color: #F2F2F2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 25px 0px 0px 25px;
}
input
{
	height: 25px;
	border: 1px solid #F2F2F2;
}
#recherche p
{
	width: 100px;
	height: 25px;
	font-size: 15px;
	color: white;
	background-color: #0065FC;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 25px 25px 0px;
}
			/* recherche */
			/* filtres */
#filtre
{
	display: flex;
	align-items: center;
	
	
}
.filt
{
	width: 150px;
	height: 25px;
	border: 3px solid #F2F2F2;
	border-radius: 25px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.filt:hover
{
	background-color: #DEEBFF;
	height: 50px;
}
#pet
{
	width: 200px;
	height: 25px;
	border: 3px solid #F2F2F2;
	border-radius: 25px;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#pet:hover
{
	background-color: #DEEBFF;
	height: 50px;
}
#filtre i
{
	height: 25px;
	width: 25px;
	border-radius: 25px;
	color: #0065FC;
	background-color: #DEEBFF;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 25px;
}
			/* filtres */
		/* header bandeau*/
	/* Mep bandeau */
/* Mep hébergement */
#hébergement
{
	width: 1170px;
	height: ;
	display: flex;
}

/* Mep article */
article
{
	width: 775px;
	height: 500px;
	margin: 0px, 25px, 25px, 0px;
	padding: 10px, 10px, 0px, 10px;
	background-color: #F2F2F2;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: ;
}

article h1
{
	margin-left: 25px;
}

#afficher
{
	margin-left: 25px;
}

#photo
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.Photo_1 img
{
	width: 200px;
	height: 100px;

}
.Photo_1
{
	background-color: white;
}

article i
{
	color: #0065FC;
}

/* Mep article */
/* Mep populaire */
aside
{
	width: 375px;
	background-color: #F2F2F2;
	margin-left: 25px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px;
}
aside h1
{
	margin-left: 25px;
}
#pop
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto;
}

.Photo_2 img
{
	float: left;
	width: 150px;
	height: 100px;
}
.Photo_2
{
	width: 300px;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

#pop i 
{
	color: #0065FC;
}
/* Mep populaire */
/* Mep hébergement */
/* Mep activitées */
#activites
{
	width: 1170px;
	height: 400px;

}
#activite
{
	display: flex;
}

#activite1 img
{
	max-height: 300px;
	max-width: 400px;
}
#activite2 img
{
	height: 150px;
	width: 200px;
}
#activite3 img
{
	height: 150px;
	width: 200px;
}#activite4 img
{
	height: 300px;
	width: 400px;
}
#activite5 img
{
	height: 150px;
	width: 200px;
}
#activite6 img
{
	height: 150px;
	width: 200px;
}
/* Mep activitées */
/* Mep footer */
footer
{
	display: flex;
}
/* Mep footer */